@use '../base/tokens' as tokens;

:root {
  --font-main: #{tokens.$font-inter};
}

/* Base global */
html {
  font-size: 100%;
} /* 16px */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: var(--font-main); /* Inter como fonte padrão */
  font-weight: tokens.$font-regular; /* 400 */
  line-height: tokens.$lh-normal; /* 1.4 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tipografia (do seu style guide) */
p {
  font-size: tokens.$font-size-p; /* 16px */
  line-height: tokens.$lh-relaxed; /* 1.6 */
}

/* Headings: tamanhos conforme tokens */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-main); /* Inter */
  margin: 0; /* controlado via util/section */
}

h1 {
  font-size: tokens.$font-size-h1;
  line-height: tokens.$lh-tight;
  font-weight: tokens.$font-bold;
}
h2 {
  font-size: tokens.$font-size-h2;
  line-height: tokens.$lh-tight;
  font-weight: tokens.$font-bold;
}
h3 {
  font-size: tokens.$font-size-h3;
  line-height: tokens.$lh-tight;
  font-weight: tokens.$font-semibold;
}

/* Links & foco acessível */
a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inputs básicos alinhados ao token */
input,
select,
textarea,
button {
  font: inherit;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
