*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: var(--rt-font, system-ui, sans-serif);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
