@use 'sass:color';


$brand-dark: #04031C;

// Aliases semânticos
$color-primary: $brand-dark; // cor primária
$gradient: linear-gradient(90deg, #4247A2 0%, #52B095 100%);
$color-text-header: #FFFFFF; // cor do texto no header

// -------------------- TIPOGRAFIA --------------------
$font-inter: 'Inter', sans-serif; // família para h3, h4, h5

// Tamanhos (px → rem; base 16px)
$font-size-p: 0.875rem; // 14px
$font-size-h1: 1.5625rem; // 25px
$font-size-h2: 2.8125rem; // 45px
$font-size-h3: 1.25rem; // 20px

$font-size-header: 1.25rem; // 20px
$font-size-card-important: 1.125rem; // 18px
$font-size-footer: 1.125rem; // 18px
$font-size-card-prevent: 0.875rem; // 14px

// Pesos
$font-regular: 400; // Regular
$font-medium: 500; // Medium
$font-semibold: 600; // SemiBold
$font-bold: 700; // Bold

// Alturas de linha
$lh-tight: 1.15; // compacto
$lh-normal: 1.4; // padrão
$lh-relaxed: 1.6; // confortável

// -------------------- DIMENSÕES & ESPAÇAMENTOS --------------------
$container-max: 1120px; // largura máxima do container

// -------------------- RAIOS & SOMBRAS --------------------
$radius-sm: 0.375rem; // 6px
$radius-md: 0.5rem; // 8px
$radius-base: 0.625rem; // 10px
$radius-lg: 0.75rem; // 12px
$radius-xl: 1rem; // 16px
$radius-xxl: 1.25rem; // 20px
$radius-header: 3.125rem; // 50px
$radius-full: 99999rem;

// -------------------- COMPONENTES (aliases prontos) --------------------
$btn-height: 2.75rem; // 44px

