@use 'sass:color';

$brand-dark: #04031c;

// Aliases semânticos
$color-primary: $brand-dark; // cor primária
$color-secondary: #1173d4; // cor secundária
$gradient: linear-gradient(90deg, #4247a2 0%, #52b095 100%);
$gradient-button: linear-gradient(0deg, #1173d4 0%, #1173d4 100%),
  linear-gradient(90deg, rgba(17, 115, 212, 0) 100%, #1173d4 0%);

$gradient-title: linear-gradient(90deg, #33cc73 0%, #1173d4 100%);
$gradient-pink: linear-gradient(
  90deg,
  #f9016f8a 54%,
  #9308859e 61.96%,
  #d038aac0 75.48%,
  #851c87 100%
);
$gradient-blue: linear-gradient(
  90deg,
  #3373d2 0%,
  #6f95c7 25%,
  #7bb5f5 50%,
  #0074ee 75%,
  #5ea7ef 100%
);
$gradient-alerts-title: linear-gradient(90deg, #1173d4 0%, #33cc73 100%);

$color-text-header: #ffffff; // cor do texto no header

// -------------------- TIPOGRAFIA --------------------
$font-inter: 'Inter', sans-serif; // família para h3, h4, h5
$font-roboto: 'Roboto', sans-serif; // família para h1, h2, p, span

// Tamanhos (px → rem; base 16px)
$font-size-p: 0.875rem; // 14px
$font-size-h1: 1.5625rem; // 25px
$font-size-h2: 2.8125rem; // 45px
$font-size-h3: 1.25rem; // 20px

$font-size-title-prevent-mobile: 2.1875rem; // 35px
$font-size-title-importance: 1.5rem; // 24px
$font-size-header: 1.25rem; // 20px
$font-size-card-important: 1.125rem; // 18px
$font-size-footer: 1.125rem; // 18px
$font-size-paragraph-hero: 0.875rem; // 14px
$font-size-card-prevent: 0.875rem; // 14px

// Pesos
$font-regular: 400; // Regular
$font-medium: 500; // Medium
$font-semibold: 600; // SemiBold
$font-bold: 700; // Bold

// Alturas de linha
$lh-tight: 1.15; // compacto
$lh-normal: 1.4; // padrão
$lh-relaxed: 1.6; // confortável

// -------------------- DIMENSÕES & ESPAÇAMENTOS --------------------
$container-max: 1120px; // largura máxima do container

// -------------------- RAIOS & SOMBRAS --------------------
$radius-sm: 6px; // 6px
$radius-md: 8px; // 8px
$radius-base: 10px; // 10px
$radius-lg: 12px; // 12px
$radius-xl: 16px; // 16px
$radius-xxl: 20px; // 20px
$radius-header: 50px; // 50px
$radius-full: 99999rem;

// -------------------- COMPONENTES (aliases prontos) --------------------
$btn-height: 2.75rem; // 44px
