@use '../base/tokens' as tokens;
@use '../base/utils' as utils;
@use '../base/mixins' as mixins;

.importance {
  width: 100%;
  padding-top: 47px;
  padding-bottom: 63px;
  background: #f8f9fa;

  &__container {
    @include mixins.container-max(1117px);
    @include utils.xflex($dir: column, $align: center, $gap: 40px);
  }

  &__header {
    text-align: center;
    max-width: 877px;
  }

  &__title {
    font-size: tokens.$font-size-h2;
    line-height: 1.2;
    font-weight: tokens.$font-bold;
    background: tokens.$gradient-title;
    background-clip: text;
    color: transparent;
  }

  &__description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: tokens.$lh-relaxed;
  }

  &__cards {
    width: 100%;
    @include utils.xflex(
      $gap: 63px,
      $wrap: wrap,
      $justify: center,
      $align: stretch
    );
  }

  &__card {
    @include utils.xflex($dir: column, $align: center);
    text-align: center;
    padding: 11px 14px 18px 14px;
    border-radius: tokens.$radius-xl;

    background: #f9fafb;
    fill: #f9fafb;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));

    width: min(100%, 280px);
  }

  &__icon {
    width: 53px;
    height: 53px;
    object-fit: contain;
    margin-bottom: 22px;
  }

  &__card-title {
    font-size: tokens.$font-size-h3;
    font-weight: tokens.$font-semibold;
    color: tokens.$brand-dark;
    margin-bottom: 18px;
  }

  &__card-text {
    font-size: tokens.$font-size-card-important;
    color: rgba(tokens.$brand-dark, 0.7);
  }

  @include mixins.mobile {
    padding: 47px 20px 63px;

    &__title {
      font-size: tokens.$font-size-title-importance;
    }
  }
}
