@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--rt-font, system-ui, sans-serif);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --font-main: Inter, sans-serif;
}

/* Base global */
html {
  font-size: 100%;
} /* 16px */
body {
  background: #fff; /* ex: #fff */
  color: #1f2937; /* títulos/texto principal */
  font-family: var(--font-main); /* Inter como fonte padrão */
  font-weight: 400; /* 400 */
  line-height: 1.4; /* 1.4 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tipografia (do seu style guide) */
p {
  font-size: 1rem; /* 16px */
  line-height: 1.6; /* 1.6 */
  color: #4b5563; /* subtítulo/cor secundária */
}

/* Headings: tamanhos conforme tokens */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-main); /* Inter */
  margin: 0; /* controlado via util/section */
  color: #1f2937;
}

h1 {
  font-size: 1.5625rem;
  line-height: 1.15;
  font-weight: 700;
}

h2 {
  font-size: 1.5625rem;
  line-height: 1.15;
  font-weight: 700;
}

h3 {
  font-size: 1.5625rem;
  line-height: 1.15;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 500;
}

/* Links & foco acessível */
a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: 2px solid #2563eb; /* azul #2563EB */
  outline-offset: 2px;
}

img {
  object-fit: cover;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inputs básicos alinhados ao token */
input,
select,
textarea,
button {
  font: inherit;
  color: #1f2937;
}

/* Use: @include btn-solid($max, $bg, $border, $color, $h, $py, $px, $gap, $radius); */
.btn--solid-green {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 60px;
  padding: 0px 30px;
  /* largura “100% até o limite X” */
  width: min(100%, 189px); /* controle por SCSS */
  width: min(100%, var(--btn-max, 189px)); /* OU por CSS var */
  border-radius: 6px;
  border: 1px solid #21c05c;
  background: #16a34a;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.12s ease, opacity 0.12s ease;
}
.btn--solid-green:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}
.btn--solid-green:hover {
  background: #21c05c;
  transition: background 0.3s ease;
}

.btn--transparent-green {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 60px;
  padding: 0px 30px;
  /* largura “100% até o limite X” */
  width: min(100%, 189px); /* controle por SCSS */
  width: min(100%, var(--btn-max, 189px)); /* OU por CSS var */
  border-radius: 6px;
  border: 1px solid #2563eb;
  background: #fff;
  color: #2563eb;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.12s ease, opacity 0.12s ease;
}
.btn--transparent-green:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

/* ===== Flex util genérico com presets ===== */
/* Presets aceitos:
   - between-center, center, around-center, evenly-center,
   - start-center, end-center, between-start, column-center
   Ex.: @include xflex(between-center, $gap: 16px);
*/
/* Item util: controla o item dentro do container flex */

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/base/_reset.scss%22,%22../scss/base/_base.scss%22,%22../scss/base/_tokens.scss%22,%22../scss/base/_utils.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;AAAA;AAAA;EAGE;;;AAEF;EACE;EACA;;;AAEF;EACE;EACA;;;AAEF;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;;;AAGF;EACE;EACA;;;AAGF;AAAA;AAAA;AAAA;EAIE;;;AAEF;EACE;EACA;;;AAEF;AAAA;EAEE;EACA;EACA;;;AAEF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAOE;;;AChDF;EACE;;;AAGF;AACA;EACE;EACA;AAEF;EACE,YCJQ,MDI0B;EAClC,OCCW,SDDuB;EAClC;EACA,aC8Ba,KD9BsB;EACnC,aCoCU,KDpCsB;EAChC;EACA;;;AAGF;AACA;EACE,WCaY,MDboB;EAChC,aC6BW,KD7BsB;EACjC,OCVc,SDUmB;;;AAGnC;AACA;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;EACA,OCtBW;;;ADyBb;EACE,WCHa;EDIb,aCUS;EDTT,aCMU;;;ADJZ;EACE,WCPa;EDQb,aCKS;EDJT,aCCU;;;ADCZ;EACE,WCXa;EDYb;EACA,aCLc;;;ADOhB;EACE,WCfa;EDgBb,aCJU;EDKV,aCVc;;;ADYhB;EACE,WCnBa;EDoBb,aCTU;EDUV,aChBY;;;ADmBd;AACA;EACE;EACA;;;AAEF;EACE;EACA;;;AAGF;EACE;;;AAGF;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;;;AAGF;AACA;AAAA;AAAA;AAAA;EAIE;EACA,OChFW;;;ACZb;AAwCA;EA5BE;EACA;EACA;EACA,KAkCE;EAhCF,QA6BE;EA5BF;AAEA;EACA;EACA;EAEA,eA0BE;EAzBF;EACA,YAiBE;EAhBF,ODba;ECcb;EACA;EACA,aDaa;ECZb;EACA;;AAEA;EACE;EACA;;AAiBF;EACE;EACA;;;AAIJ;EA/CE;EACA;EACA;EACA,KAqDE;EAnDF,QAgDE;EA/CF;AAEA;EACA;EACA;EAEA,eA6CE;EA5CF;EACA,YAoCE;EAnCF,ODxBe;ECyBf;EACA;EACA,aDaa;ECZb;EACA;;AAEA;EACE;EACA;;;AAqCJ;AACA;AAAA;AAAA;AAAA;AAAA;AAgEA%22,%22file%22:%22styles.css%22%7D */
