/* Error: Undefined variable.
 *    ,
 * 24 |   color: tokens.$color-text-muted; /* subtítulo/cor secundária *∕
 *    |          ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\scss\base\_base.scss 24:10  @use
 *   src\scss\styles.scss 3:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 24 \2502    color: tokens.$color-text-muted; /* subt\ed tulo/cor secund\e1 ria */\d\a    \2502           ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\scss\\base\\_base.scss 24:10  @use\a   src\\scss\\styles.scss 3:1        root stylesheet";
}
