@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--rt-font, system-ui, sans-serif);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --font-main: Inter, sans-serif;
}

/* Base global */
html {
  font-size: 100%;
} /* 16px */
body {
  font-family: var(--font-main); /* Inter como fonte padrão */
  font-weight: 400; /* 400 */
  line-height: 1.4; /* 1.4 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tipografia (do seu style guide) */
p {
  font-size: 0.875rem; /* 16px */
  line-height: 1.6; /* 1.6 */
}

/* Headings: tamanhos conforme tokens */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-main); /* Inter */
  margin: 0; /* controlado via util/section */
}

h1 {
  font-size: 1.5625rem;
  line-height: 1.15;
  font-weight: 700;
}

h2 {
  font-size: 2.8125rem;
  line-height: 1.15;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.15;
  font-weight: 600;
}

/* Links & foco acessível */
a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inputs básicos alinhados ao token */
input,
select,
textarea,
button {
  font: inherit;
}

/* ===== Flex util genérico com presets ===== */
/* Presets aceitos:
   - between-center, center, around-center, evenly-center,
   - start-center, end-center, between-start, column-center
   Ex.: @include xflex(between-center, $gap: 16px);
*/
/* Item util: controla o item dentro do container flex */

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/base/_reset.scss%22,%22../scss/base/_base.scss%22,%22../scss/base/_tokens.scss%22,%22../scss/base/_utils.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;AAAA;AAAA;EAGE;;;AAEF;EACE;EACA;;;AAEF;EACE;EACA;;;AAEF;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;;;AAGF;EACE;EACA;;;AAGF;AAAA;AAAA;AAAA;EAIE;;;AAEF;EACE;EACA;;;AAEF;AAAA;EAEE;EACA;EACA;;;AAEF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAOE;;;AChDF;EACE;;;AAGF;AACA;EACE;EACA;AAEF;EACE;EACA,aCYa,KDZsB;EACnC,aCkBU,KDlBsB;EAChC;EACA;;;AAGF;AACA;EACE,WCPY,UDOoB;EAChC,aCWW,KDXsB;;;AAGnC;AACA;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;;;AAGF;EACE,WCrBa;EDsBb,aCNS;EDOT,aCVU;;;ADYZ;EACE,WCzBa;ED0Bb,aCXS;EDYT,aCfU;;;ADiBZ;EACE,WC7Ba;ED8Bb,aChBS;EDiBT,aCrBc;;;ADwBhB;AACA;EACE;EACA;;;AAGF;EACE;;;AAGF;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;;;AAGF;AACA;AAAA;AAAA;AAAA;EAIE;;;AEzEF;AACA;AAAA;AAAA;AAAA;AAAA;AAgEA%22,%22file%22:%22styles.css%22%7D */
